<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Software</title>

    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Import Poppins Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-putih">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">FAQ</a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- <button formaction="/login.html" class="btn btn-primary" type="submit">Log In</button> -->
                    <a href="/login" class="btn btn-primary">Log In</a>
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <!-- Home -->
    <div class="container-fluid home">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <h1>Maintenance Software</h1>
                    <p>Software untuk membantu dalam progres mengerjakan tugas akhir berbasis pengolahan data metode
                        kualitatif dan metode kuantitatif.</p>
                    <button class="btn btn-primary">Log In</button>
                </div>
                <div class="col-5">
                    <img src="images/hero.png" alt="">
                </div>
            </div>

        </div>
    </div>

    <!-- Features -->
    <div class="container-fluid" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Our Features you can get.</h2>
                </div>
            </div>
            <div class="row img-feature">
                <div class="col-4">
                    <img class="img-fluid" src="images/feature-1.png" alt="">
                    <h6>FMEA (FAILURE MODE AND EFFECT ANALYSIS)</h6>
                    <p>Metode kualitatif yang digunakan untuk menilai penyebab dan akibat dari kegagalan yang terjadi
                        pada komponen tertentu.</p>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="images/feature-2.png" alt="">
                    <h6>TTF & TTR (TIME TO FAILURE & TIME TO REPAIR)</h6>
                    <p>Rentang waktu dari satu kerusakan menuju kerusakan berikutnya & Rentang waktu dari satu perbaikan
                        menuju perbaikan berikutnya.</p>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="images/feature-3.png" alt="">
                    <h6>TTF & TTR (TIME TO FAILURE & TIME TO REPAIR)</h6>
                    <p>Metode kuantitatif untuk menghitung rerata waktu suatu komponen dapat dioperasikan sebelum
                        terjadinya kerusakan.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="container-fluid" id="about">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-2">
                    <img src="images/about.png" alt="">
                </div>
                <div class="col-5">
                    <h2>Hello, I’m
                        Mahardhika Rafi.</h2>
                    <p>Saya adalah mahasiswa jurusan Sistem Pembangkit Energi, Politeknik Elektronika Negeri Surabaya.
                        Saya tertarik terkait dibidang konversi energi dan peminatan saya sekarang adalah maintenance.
                    </p>
                    <button class="btn btn-primary">Contact me</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div class="container-fluid" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Contact me, I’m your bestie.</h2>
                </div>
            </div>
            <div class="row input-form">
                <div class="col-5">
                    <img src="images/contact.png" class="img-fluid" alt="">
                </div>
                <div class="col-7">
                    <form action="">
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="mb-3 your-message">
                                <label for="exampleInputEmail1" class="form-label">Your message</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
                            </div>
                            <button type="submit" class="btn btn-primary">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div class="container-fluid" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 cont-txt-faq">
                    <h1>Frequently Asked Questions.</h1>
                </div>

                <div class="col-lg-7 offset-lg-1 col-sm-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Apa yang dapat dilakukan oleh website ini?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Maintenance Software adalah website yang berisikan tentang manajemen perawatan
                                    pada komponen turbin uap PLTGU dengan menggunakan metode kualitatif dan kuantitatif
                                    berupa Failure Mode and Effect Analysis (FMEA) & Mean Time Between Failure (MTBF)
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Fitur apa saja yang terdapat pada website ini?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Fitur manajemen perawatan yang terdapat pada maintenance software adalah :
                                    <br>- metode kualitatif berupa Failure Mode and Effect Analysis (FMEA)
                                    FMEA digunakan untuk mengidentifikasi potensi kegagalan setiap komponen dan
                                    dampaknya terhadap sistem.
                                    Serta dapat merepresentasikan tingkat kekritisan masing-masing komponen menggunakan
                                    nilai Risk Priority Number (RPN).
                                    <br>- Time To Failure (TTF) & Time To Repair (TTR)
                                    TTF adalah rentang waktu dari satu kerusakan menuju kerusakan berikutnya.
                                    TTR adalah rentang waktu dari satu perbaikan menuju perbaikan berikutnya.
                                    <br>- metode kuantitatif berupa nilai Mean Time Between Failure (MTBF)
                                    Keandalan dari suatu sistem seringkali diberikan dalam bentuk angka yang menyatakan
                                    masa pakai sistem
                                    tersebut yang menunjukkan tentang seberapa handalnya komponen atau sistem dalam
                                    menghasilkan produk, yang
                                    dilihat dari waktu rata-rata komponen itu akan berfungsi mulai dari satu repair
                                    (kegagalan) sampai ke repair
                                    (kegagalan) berikutnya dan sering disebut dengan rata-rata waktu antara kerusakan
                                    atau Mean Time Between Failure (MTBF)
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Siapa saja yang dapat mengakses website ini?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Terdapat 2 akun yang dapat mengakses website ini meliputi,
                                    <br>- Engineer
                                    <br>- Mekanik
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Apa goals dari website ini?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Goals dari website manajemen perawatan ini adalah untuk menentukan interval waktu
                                    pemeliharaan (T) yang tepat bagi komponen turbin uap PLTGU yang diprioritaskan
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p>Mahardhika Rafi Dewantara
                            3210181040
                            <br><br>
                            Sistem Pembangkit Energi
                            Politeknik Elektronika Negeri Surabaya</p>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-2 offset-1">
                        <p>Connect with me</p>
                        <a href="#"><img src="images/icon-fb.png" alt=""></a>
                        <a href="#"><img src="images/icon-ig.png" alt=""></a>
                        <a href="#"><img src="images/icon-tw.png" alt=""></a>
                    </div>
                    <div class="col-2 offset-1">
                        <p>Copyright 2022</p>
                        <img src="images/logo-footer.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>